.main{
    color:rgb(241, 16, 65);
  
    gap: 15px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: normal;
    background-color: blue;
}
.one{
    color: white;
    display: flex;
    gap: 15px;
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: normal;
}

.two{
    display: flex;
    gap: 100px;
    padding: 20px;
    background-color: blue;

}
.three{
    padding-left: 200px;
    background-color: blue;
    color: white;
  
    display: flex;
    margin-top: 200px;
    width: 1000px;
    height: 300px;
    stroke-width: 30px;
}
.four{
    display: flex;
    justify-content: space-between;
    padding-left: 280px;
    gap: 20px;
}
button{
    background-color: white;
    color: blue;
    width: 120px;
    height: 50px;
}
h1{
    font-size: xx-large;
 
}
.main1{
    background-color: white;
    display: flex;
    justify-content: center;
    gap: 40px;


}.hi{
    background-color: blue;
    color: white;
}
button{
    background-color: white;
    color: black;
}
.one1{
    display: flex;
    justify-content: space-around;
    padding-left: 280px;
    gap: 30px;
    margin: 40px;
    
}
.three3{
    background-color: antiquewhite;
    width: 700px;
    height: 60pxpx;
    display: flex;
    gap: 20px;
    padding: 20px;
}
.main2{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 50px;
    background-color: #e8f8f5;
}
.one{
    padding-right: 50px;
    
}
.hello{
    background-color: #e8f8f5;
}







