.hello{
    background-color: black;
    color: black;
    display: flex;
    justify-content: center;
    width: auto;
    height: 1000px;
}
.hi{
    color: blue;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 40px;
    z-index: 5;
    

}
.hu{
    color: brown;
    width: 300px;
    height: 3oopx;
    position: relative;
    top: 40px;
}